<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pau.att" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PAU Attendance System</name>
    <description>
		Punjab Agricultural University Attendance System
    </description>
	
    <author email="lokjain@pau.edu" href="http://www.pau.edu">
        Dr. Lokesh Jain
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="res/ios/icon.png" width="57" />
        <icon height="114" src="res/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon-72@2x.png" width="144" />
        <splash height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
        <splash height="1536" src="res/screen/ios/screen-ipad-landscape-2x.png" width="2048" />
        <splash height="1136" src="res/screen/ios/screen-iphone-portrait-568h.png" width="640" />
    </platform>
    <platform name="windows">
        <splash src="res/screen/windows/splashscreen.png" target="SplashScreen" />
        <splash src="res/screen/windows/splashscreenphone.png" target="SplashScreenPhone" />
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <engine name="ios" spec="~4.3.1" />
    <engine name="android" spec="^6.2.3" />
	<plugin name="cordova-plugin-device" spec="1.1.7" />
	<plugin name="cordova-plugin-network-information" spec="1.3.4" />
	<plugin name="cordova-plugin-splashscreen" spec="4.1.0" />
	<plugin name="cordova-plugin-whitelist" spec="1.3.3" />
</widget>
